#logo {
  width: 100px;
  background: none;
  position: relative; }

header {
  width: 100%;
  position: fixed;
  z-index: 1; }

.link {
  background: none;
  font-size: 18px;
  font-weight: bold;
  margin: 2%;
  list-style: none;
  transition: all 0.5s; }

.link a {
  color: white; }

.items {
  width: 100%;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  background-color: black; }

.link-container {
  display: flex;
  align-items: center;
  background-color: black; }

/* hover de links*/
.link:hover {
  transform: scale(1.2); }

/* MAIN */
.index-body {
  background-image: url(../images/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

.index-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.quienessomos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  position: absolute;
  top: 90px;
  margin: 10px;
  right: 5%;
  text-align: center;
  background-color: #2c2c2c;
  border-radius: 5px; }

.parrafos p {
  color: white;
  font-size: x-large; }

h1 {
  color: black;
  text-align: center;
  background-color: white;
  width: 100%;
  font-weight: bold;
  border-radius: 5px; }

.text {
  margin: 8%;
  border: none;
  border-bottom: 2px solid white;
  background: none;
  color: white;
  width: 110%; }

::placeholder {
  color: white; }

#consulta {
  text-align: center; }

#enviar {
  width: 100%;
  height: 40px;
  margin: 8%;
  background-color: yellow;
  transition: all 0.5s; }

#enviar:hover {
  transform: scale(1.1); }

/* FOOTER */
#whatsapp:hover {
  transform: scale(1.2); }
