main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

main ul li{
    margin: 15px;
    list-style: none;
    text-align: center;
    width: 107%;
    padding: 20px;
    font-weight: bold;
    font-family: Calibri;
    background-color: white;
}

#contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
}

#phone-icon{
    width: 28px;
    position: relative;
    top: 10px;
    right: 12px;
    background-color: none;
}

#email-icon{
    width: 30px;
    position: relative;
    top: 10px;
    right: 12px;
    background-color: none;
}