*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

/* ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡PELIGRO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* PRUEBA MEDIA QUERIES */

@media (max-width: 479px){

    #carouselExampleCaptions{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 30%;

    }

    #whatsapp{
        width: 10%;
        position: fixed;
        bottom: 0;
        left: 10px;
        transition: all 0.5s;
    }

        /* FORMULARIO DE CONTACTO */

    .contactanos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: rgb(44, 44, 44);
        padding: 3%;
        color: white;
        width: 45%;
    
        /* provisorio*/
        position: fixed;
        top: 17%;
        left: 15%;
    }

}

@media (min-width: 480px) and (max-width: 539px){

    #carouselExampleCaptions{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 30%;

    }

    #whatsapp{
        width: 10%;
        position: fixed;
        bottom: 10px;
        left: 10px;
        transition: all 0.5s;
    }

        /* FORMULARIO DE CONTACTO */

    .contactanos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: rgb(44, 44, 44);
        padding: 3%;
        color: white;
        width: 45%;
    
        /* provisorio*/
        position: fixed;
        top: 17%;
        left: 15%;
    }

}


@media (min-width: 540px) and (max-width: 719px){

    #carouselExampleCaptions{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 30%;

    }

    #whatsapp{
        width: 10%;
        position: fixed;
        bottom: 10px;
        left: 10px;
        transition: all 0.5s;
    }

        /* FORMULARIO DE CONTACTO */

    .contactanos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: rgb(44, 44, 44);
        padding: 3%;
        color: white;
        width: 40%;
    
        /* provisorio*/
        position: fixed;
        top: 17%;
        left: 15%;
    }

}

/* PANTALLAS INTERMEDIAS */

@media (min-width: 720px) and (max-width: 1023px){

    #carouselExampleCaptions{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 30%;

    }

    #whatsapp{
        width: 6%;
        position: fixed;
        bottom: 10px;
        left: 10px;
        transition: all 0.5s;
    }

        /* FORMULARIO DE CONTACTO */

.contactanos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(44, 44, 44);
    padding: 3%;
    color: white;
    width: 28%;

    /* provisorio*/
    position: fixed;
    top: 15%;
    left: 15%;
}

}

/* PANTALLAS GRANDES */

@media (min-width: 1024px) and (max-width: 1279px){

    #carouselExampleCaptions{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 20%;

    }

    #whatsapp{
        width: 5%;
        position: fixed;
        bottom: 10px;
        left: 10px;
        transition: all 0.5s;
    }

    /* FORMULARIO DE CONTACTO */

.contactanos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(44, 44, 44);
    padding: 3%;
    color: white;
    width: 23%;

    /* provisorio*/
    position: fixed;
    top: 17%;
    left: 15%;
}

}

/* PANTALLAS EXTRA-LARGE */

@media (min-width: 1280px){

    #carouselExampleCaptions{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 20%;
    
    }

    #whatsapp{
        width: 5%;
        position: fixed;
        bottom: 10px;
        left: 10px;
        transition: all 0.5s;
    }

    /* FORMULARIO DE CONTACTO */

    .contactanos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: rgb(44, 44, 44);
        padding: 3%;
        color: white;
        width: 23%;

        /* provisorio*/
        position: fixed;
        top: 15%;
        left: 12%;
    }

}

/*  fin prueba media query */


/* CAROUSEL */
.carousel, .carousel-inner > .item {
    width: 60%;
    margin-top: 2%;
}

.carousel h5{
    color: black;
    font-size: xx-large;
    font-weight: bold;
    border-bottom: 2px solid black;
}

body{
    background-color: rgb(44, 44, 44);
}