.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    position: absolute;
    top: 15%;
    
}

/* intento estructura scss */
main{
    .servicios{
        .accordion{
            text-align: center;
            width: 100%;
        }
    }

}

/*.accordion{
    text-align: center;
    width: 100%;
}*/

.accordion-button{
    font-weight: bold;
    font-size: 20px;
}